MQTT_SERVER = localhost
MQTT_USER = beaam
MQTT_PASSWORD = ...
MQTT_TOPIC = beaam/status/power_produced/average_smooth

BEAAM_API_STATE_URL = http://beaam/api/v1/site/state
BEAAM_API_TOKEN = sk_beaam_...
