LATITUDE=48.13743
LONGITUDE=11.57549

ARDUINO_HOSTNAME=arduino.local
ARDUINO_PORT=8888

TUYA_HOSTNAME=tuya.local
TUYA_DEVICE_ID=xxx
TUYA_LOCAL_KEY=yyy

TELEGRAM_BOT_TOKEN = xxx
TELEGRAM_CHAT_ID = yyy

MQTT_SERVER = xxx.s2.eu.hivemq.cloud
MQTT_USER = smarthome
MQTT_PASSWORD = yyy
MQTT_TOPIC = bk-power/status/switch:0/power/average_smooth

PV_PEAK_POWER = 800

