LATITUDE=48.13743
LONGITUDE=11.57549

ARDUINO_HOSTNAME=arduino.local
ARDUINO_PORT=8888

COVER_CONTROL_DEVICE_ID=shelly-plus2pm.local
COVER_CONTROL_COMPONENT_ID=cover:0

TELEGRAM_BOT_TOKEN = xxx
TELEGRAM_CHAT_ID = yyy

MQTT_SERVER = localhost
MQTT_USER = smarthome
MQTT_PASSWORD = yyy
MQTT_TOPIC = bk-power/status/switch:0/power/average_smooth

PV_PEAK_POWER = 800

