LATITUDE=48.13743
LONGITUDE=11.57549

ARDUINO_HOSTNAME=arduino.local
ARDUINO_PORT=8888

TUYA_HOSTNAME=tuya.local
TUYA_DEVICE_ID=xxx
TUYA_LOCAL_KEY=yyy

TELEGRAM_BOT_TOKEN = xxx
TELEGRAM_CHAT_ID = yyy
