# Cost in EUR per kWh
POWER_COST=0.2723 

# Telegram chat, which will be notified
CHAT_ID=123456

# Telegram API token
BOT_TOKEN=1234567890:AAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Notification messages
STARTED_MESSAGE_TEMPLATE="Waschmaschine angestellt."
# Parameter 1 = power cost of last cycle
DONE_MESSAGE_TEMPLATE="Die Wäsche ist fertig. Stromkosten: {:s}"
