# Telegram chat, which will be notified
TELEGRAM_CHAT_ID=123456

# Telegram API token
TELEGRAM_BOT_TOKEN=1234567890:AAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Notification messages
STARTED_MESSAGE_TEMPLATE="Waschmaschine angestellt."
DONE_MESSAGE_TEMPLATE="Die Wäsche ist fertig."

MQTT_SERVER = localhost
MQTT_USER = smarthome
MQTT_PASSWORD = yyy
MQTT_TOPIC = washer/status/switch:0/power/state
